/* c5 */
#grouped-bar-chart-container {
  grid-area: c5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.grouped-bar-chart-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.grouped-bar-chart-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grouped-bar-chart-legend {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.grouped-bar-chart-legend-item {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 110px;
}

.grouped-bar-chart-legend-dot {
  margin-right: 5px;
  display: inline-block;
  text-align: center;
}

.grouped-bar-chart-legend-text {
  font-size: 12px;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 110px;
}

.grouped-bar-chart-dropdown {
  position: relative;
}

.grouped-bar-chart-dropdown-btn {
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  margin-left: 520px;
}

.grouped-bar-chart-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  margin-left: 395px;
}

.grouped-bar-chart-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
