/* c4 */
#line-chart-container {
  grid-area: c4;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.legend-row-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.legend-item-line {
  display: flex;
  align-items: center;
  margin-left: 40px;
  width: 85px;
}

.legend-dot-line {
  margin-right: 5px;
  display: inline-block;
  text-align: center;
}

.legend-text-line {
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 110px;
}

.line-chart-dropdown {
  position: relative;
}

.line-chart-dropdown-btn {
  padding: 12px 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  margin-left: 790px;
  border-radius: 5px;
}

.line-chart-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  margin-left: 700px;
}

.line-chart-dropdown-content label {
  display: block;
  padding: 5px 10px;
  clear: both;
  font-size: 14px;
  white-space: nowrap;
}

.line-chart-dropdown-content input[type='checkbox'] {
  margin-right: 5px;
  accent-color: #5e3fbe;
}

.line-chart-dropdown-content label:hover {
  background-color: #f1f1f1;
}

.line-chart-dropdown:hover .line-chart-dropdown-content {
  display: block;
}

.line-chart-dropdown .show {
  display: block;
}
