/* c2 */
#pie-chart-container {
  grid-area: c2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#pie-chart {
  display: block;
  margin: auto;
}

.legend-pie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  padding-top: 80px;
}

.legend-item-pie {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.legend-dot-pie {
  margin-right: 10px;
}

.legend-text-pie {
  font-size: 18px;
  font-weight: 500;
}
